extends layout

block content
  h1 Title: #{book.title}

  if bookInstance.length 
    p #[strong Delete the following BookInstance before attempting to delete this Book.]
    div(style='margin-left:20px;margin-top:20px')
      h4 BookInstance Copies
      each val in bookInstance
        hr
        if val.status=='Available'
          p.text-success #{val.status}
        else if val.status=='Maintenance'
          p.text-danger #{val.status}
        else
          p.text-warning #{val.status}
        p #[strong Imprint:] #{val.imprint}
        if val.status!='Available'
          p #[strong Due back:] #{val.due_back}
        p #[strong Id: ]
          a(href=val.url) #{val._id}
  else 
    p Do you really want to delete this Book?

    form(method="POST")
      div.form-group
        input#id.form-control(type='hidden',name='id',value=book._id)

      button.btn.btn-primary(type='submit') Delete 